* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.header {
    padding: 5px 30px;
    background: red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
    list-style: none;
    gap: 20px;
}

main {
    padding: 20px;
    height: 430px;
    text-align: center;
}

section {
    margin-top: 60px;
    display: flex;
    justify-content: space-between
}

h2 {
    font-size: medium;
}

span {
    font-size: small;
}

footer {
    background: red;
    color: #fff;
    padding: 60px;
}